<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Local Media</title>
</head>
<body>
  <div id="remote"></div>
  <div id="local"></div>
  <script src="https://media.twiliocdn.com/sdk/js/common/v0.1.7/twilio-common.min.js"></script>
  <script src="https://media.twiliocdn.com/sdk/js/conversations/v0.13/twilio-conversations.min.js"></script>
  <script src="/Users/codecadet/Documents/hackathon-frontend/js/inviteAccepted.js"></script>
  <script src="/Users/codecadet/Documents/hackathon-frontend/js/local.js"></script>
</body>
</html>